{% extends 'home_base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Music Recommendation App</h1>
                    <p class="lead text-white-50 mb-4">Get music suggestions based on your mood.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock content %}
</html>
