{% block content %}      
{% load static %}
{% load crispy_forms_tags %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log-In</title>
	<link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<div class="center">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>

{% endblock %}

</body>
</html>

