{% extends 'base.html' %}

{% block content %}
<head>
	<link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>	
<body>
	<div class="column">
		<div class="media-content">
			<span class="title is-5">Your Playlists:</span>
		</div>
		{% for pl in user.playlist.all %}
			<div class="block">
			  <div class="card">
				<a href="#">
				  <div class="card-content">
					<div class="media">
						<div class="media-left">
							<figure class="image is-24x24">
								 <img src="https://img.icons8.com/material/24/000000/playlist.png"/>
							</figure>
						</div>
						<div class="media-content">
							<span class="title is-5">{{ pl.title }}</span>
						</div>
						<form action="{% url 'RecApp:playlistview' pl.id %}" method="post">
							{% csrf_token %}
							<button type="submit" class="btn">
								<i class="fas fa-search fa-lg float-right"></i>
							</button>
						</form>
						<form action="{% url 'RecApp:playlist_delete' pl.id %}" method="post", onsubmit="return confirm('Are you sure you want to delete the playlist?')">
							{% csrf_token %}
							<button type="submit" class="btn">
								<i class="far fa-trash-alt fa-lg text-danger float-right"></i>
							</button>
						</form>
					</div>
				  </div>
				</a>
			  </div>
			</div>
		{% endfor %}
		<a href="/add_playlist">
			<button type="submit" class="btn btn-success">
			Create New Playlist
			</button>
		</a>	
	</div>
	
</body>	
{% endblock content %}


