{% load static %}
{% block content %} 
{% load crispy_forms_tags %}      

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
	<link rel="stylesheet"href="{% static 'css/register.css' %}">
</head>
<body>   

    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register Today</h3>
                        <p>Fill in the data below.</p>
                        <form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit" value="Register">Register</button>
	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</html>
