{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>	
<body>
	<div class="column">
		<div class="media-content">
			<span class="title is-5">Search Results:</span>
		</div>
		{% for s in object_list %}
			<div class="block">
				 <div class="card">
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<figure class="image is-48x48">
								  <img alt="" src="{% if s.image %}{{s.image.url}} {% else %}{{'https://img.icons8.com/material/48/000000/musical-notes--v1.png'}} {% endif %}"/>
								</figure>
							</div>
							<div class="media-content">
								<span class="title is-6">{{ s.title }}</span>
								<div class="media-content">
									<span class="is-small has-text-grey-light">{{ s.artist }}</span>
								</div>
							</div>
							<form action="{% url 'RecApp:song_details' s.id%}" method="GET">
		                                               {% csrf_token %}
								<button type="submit" class="btn">
							<i class="fas fa-play fa-lg  float-middle"></i></button>
							</form>
							
							<form action="{% url 'RecApp:addsongtoplaylist' s.id %}" method="GET">
								{% csrf_token %}
								<button type="submit" class="btn">
									<i class="far fa-plus-square fa-lg  float-middle"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
			
	</div>
</body>	
{% endblock content %}


