{% extends 'base.html' %}

{% block content %}
<head>
	<link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>	
<body>
	<div class="column">
		<div class="media-content">
			<span class="title is-5">Recommended Genre: {{genre}}</span>
		</div>
		{% for r in rec %}
			<div class="block">
				<div class="card">
					<div class="card-content">
						<div class="media">
							<div class="media-left">
								<img src="https://img.icons8.com/material/24/000000/playlist.png"/>
							</div>
							<div class="media-content">
								<span class="title is-5">{{ r.title }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
</body>	
{% endblock content %}


