{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

{% block content %}	
<body>
	<div class="container">
		<div class="row">
			<div class="row" style="text-align: center; position:fixed; left:80px; bottom:50%;">
				<div class="col-sm-20">
					<h2 >Password Changed Successfully!</h2>
					<br>
				<a href="/dashboard">
				   <input type="button" class="btn btn-primary" value="Return to dashboard" />
				</a>
				</div>
			</div>
		</div>
	</div>	
{% endblock content %}
</body>







